.DS_Store
/packages
/.vs
/src/GroupDocs.Comparison.MVC.csproj.user
bin
obj
/App_Data/temp
/App_Data/SignatureData
/App_Data/Output
src/Resources/*
!src/Resources/.gitkeep
node_modules
src/package-lock.json
src/client/package-lock.json
/src/node
src/DocumentSamples
!src/DocumentSamples/Comparison/.gitkeep
src/Licenses
!src/Licenses/.gitkeep